# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

!/.gitignore
!/*.html
!/config.codekit
!/assets
/assets/components/
/assets/img/*
/assets/uploads/
/assets/scss/.sass-cache/
/connectors/
/core/
/manager/
/setup/
/setup-BACKUP/
!/onsightphoto
/onsightphoto/config.core.php